# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\YandexALGContest\Problem1\Sp2PrP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
